/* .edit-form {
    width: 600px;
} */

input {
    padding: 8px;
    border: 1px solid #cacaca;
    border-radius: 10px;
    margin-bottom: 5px;
    transition: all 0.3s;
}

input:focus-visible {
    outline: none !important;
    border-bottom: 3px solid rgb(130, 130, 130);
    padding-left: 15px;
    transition: all 0.3s;
}