.warn-modal {
    min-width: 400px;
    min-height: 250px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.warn-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(196, 196, 196);
    border-radius: 10px 10px 0 0;
}
.warn-modal-content {
    padding: 10px;
    height: 100%;
}

.warn-modal-buttons {
    padding: 10px;
    background-color: rgb(196, 196, 196);
    display: flex;
    justify-content: end;
    border-radius: 0 0 10px 10px;
}