.header_component {
    min-height: 65px;
    display: grid;
    grid-template-columns: 60px 1fr 1fr;
    gap: 10px;
    align-items: center;
    padding: 10px 15px;
    background-color: #636363;
}
.header_component-logo {
    display: flex;
    justify-content: center;
}

.header_component-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.header_component_user-control {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-self: end;
    justify-content: end;
}
.logo {
    height: 3em;
    will-change: filter;
}
.header_component_mobile-menu{
    display: none;
}

@media screen and (max-width: 600px) {
    .header_component-buttons {
        display: none;
    }
    .header_component_user-control {
        display: none;
    }
    .header_component{
        display: grid;
        grid-template-columns: 60px 1fr;
        padding: 0px 15px;
    }
    .header_component_mobile-menu{
        display: flex;
        justify-self: end;
    }
}